.box-collection {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.box {
  display: block;
  border: .1em solid rgba(128, 128, 128, 0.25);
  border-radius: 1em;
  margin: .5em;
  min-height: 10em;
  backdrop-filter: blur(0.5em) brightness(0.6);
  padding: 1.5em;
  opacity: 0;
  min-width: 15em;
  max-width: 20em;
  width: 50%;
}
.box-header {
  color: hsl(0, 0%, 90%);
}
.box-body {
  color: hsl(0, 0%, 80%);
}