.slides {
  display: none;
}
.footer {
  min-height: 40vh;
  width: 100%;
  background-size: 100% 200%;
  background: linear-gradient(0deg, hsl(234, 100%, 10%) 0%, black 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.links-collection {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.icon {
  margin: 1em;
  --min-size: 10vw;
  --max-size: 50vw;
  min-width: var(--min-size);
  min-height: var(--min-size);
  max-width: var(--max-size);
  max-height: var(--max-size);
  width: 40%;
  height: 40%;
  background-size: cover;
  filter: brightness(2) saturate(2);
}
#github {
  background-image: url("../img/github.png");
}
#linkedin {
  background-image: linear-gradient(to right, #BADA55, #BADA55), url("../img/linkedin.png");
  background-blend-mode: overlay;
}