/* Sidebar */
.sidebar {
  position: fixed;
  width: 4em;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 99;
}
.sidebar-section {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  align-items: center;
}
.sidebar-section#sidebar-bottom {
  flex-flow: column-reverse;
}
.sidebar-item {
  margin: .5em 0;
}
.sidebar-icon {
  width: 100%;
  /* filter: grayscale(1) brightness(0); */
}
.line {
  content: "";
  display: block;
  height: 33.33vh;
  width: .1em;
  border-radius: 1rem;
  background: hsl(0, 0%, 0%, 0.5);
}