* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* font-family: 'Roboto', sans-serif; */
  font-family: 'Ubuntu Mono', monospace;
  color: hsl(0, 0%, 80%);
}
html {
  font-size: 20px;
}
body {
  width: 100%;
}
.root {
  width: 100%;
  height: 100vh;
}
ul {
  padding-left: 1.5em;
}
p.pre-header {
  font-size: 1.5em;
  font-family: 'Ubuntu Mono', monospace;
  color: var(--terminal-color);
}
p.pre-header::after {
  display: inline-block;
  content: "";
  height: 1em;
  transform: translateY(8%);
  width: 0.60em;
  background: var(--terminal-color);
  animation: blink-cursor 1s linear infinite;
}
h1 {
  margin: 1.5em 0;
}
p.indented {
  margin: 1em;
}
.hidden {
  opacity: 0;
}
.iconography {
  max-width: 20vw; 
}
h1 {
  color: white;
}
h2 {
  margin: 1em 0;
}
h4 {
  margin-bottom: .5em;
  color: hsl(0, 0%, 90%);
  font-size: 1.2em;
}