.timeline-segment {
  display: flex;
  flex-direction: row;
}
.timeline-graph {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.vertex {
  --vertex-size: 1.25em;
  height: var(--vertex-size);
  width: var(--vertex-size);
  border-radius: var(--vertex-size);
  border: .3em solid hsl(0, 0%, 80%);
  box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.5);
  z-index: 2;
}
.vertex-edge {
  min-height: 2em;
  width: .2em;
  background: hsl(0, 0%, 75%);
  height: calc(100% - 1.25em);
}
.description {
  margin-left: 1em;
  margin-bottom: 1em;
  width: 100%;
  min-width: 75vw;
}
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.timestamp {
  color: hsl(0, 0%, 90%);
}
.location {
  margin-bottom: 1em;
}